.name {
    font-style: oblique;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 0px rgb(162, 156, 176);;
    text-align: center;
    border: 6px solid rgb(60, 60, 70);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 15px rgb(49, 52, 34);
    background-color: rgb(178, 178, 184);
}
#picture {
    width: 250px;
    border: s;
    padding-top: 20px; 
}
#h {
    margin-right: 10px;
    border: 6px solid rgb(60, 60, 70);
    background-color: rgb(178, 178, 184);
    border-radius: 10px;
}
.SPS {
    text-decoration: underline;
}
#homepage-nav a {
    color: black;
    background-color: rgb(178, 178, 184);
    border: 6px solid rgb(60, 60, 70);
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    margin: 1vh;

}
#basketball {
    width: 160px;
    float: right;
    padding: 15PX;
    padding-top: 35px;
}
#gym {
    width: 160px;
    float: right;
    padding: 15px;
}
#travel {
    width: 180px;
    float: right;
    padding: 15px;
    padding-top: 40px;
}
.top3 {
    padding-left: 5px;
    text-decoration: underline;
}
.hobbies {
    margin-right: 10px;
    border: 6px solid rgb(60, 60, 70);
    background-color: rgb(178, 178, 184);
    border-radius: 10px;
}

.pp {
    padding-left: 5px;
}
#h {
   text-align: center;
}
.body0 {
    background-color: gray;
}
#head03 {
    text-align: center;
    text-decoration: underline;
}
.portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5vh;
    grid-row-gap: 5vh;
    padding-left: 20vh;
    align-items: center;
    }
    
  .div1 {
      padding: 50px;
      border: 6px solid rgb(60, 60, 70);
      background-color: rgb(178, 178, 184);
      border-radius: 10px;
  }
  #zoo { 
      width: 420px;
      padding: 15px;
      height: 30vh;
      border: 6px solid rgb(60, 60, 70);
      background-color: rgb(178, 178, 184);
      border-radius: 10px;
  }
  .div3 { 
      padding: 50px;
      border: 6px solid rgb(60, 60, 70);
      background-color: rgb(178, 178, 184);
      border-radius: 10px;
  }
  #food { 
      width: 420px;
      padding: 10px;
      height: 34vh;
      border: 6px solid rgb(60, 60, 70);
      background-color: rgb(178, 178, 184);
      border-radius: 10px;
  }
.main2 {
    text-align: center;
    text-decoration: underline;
    padding-left: 5px;
    padding-bottom: 25px;
    border: 6px solid rgb(60, 60, 70);
    background-color: rgb(178, 178, 184);
    border-radius: 10px;
}
a.hover1:hover, a.hover1:active {
    font-size: 125%;
}
